<!DOCTYPE html>
<html>
  <head>
    <title>GrapplerTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- Navigation Bar -->
    <nav class="navbar">
      <div class="container">
        <%= link_to 'Grappler Tracker', root_path, class: 'nav-logo' %> <!-- Home link -->

        <ul class="nav-links">
          <!-- Profile Link -->
          <% if current_user %> 
            <li><%= link_to 'Profile', user_path(current_user), class: 'nav-item' %></li>
          <% else %>
            <li><%= link_to 'Login', new_user_session_path, class: 'nav-item' %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path, class: 'nav-item' %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <!-- Content from views -->
    <%= yield %>
  </body>
</html>
